In [1]:
import pandas as pd
import numpy as np
import os
print(os.getcwd)

<built-in function getcwd>

In [2]:
pima=pd.read_csv("Book1.csv")

In [3]:
pima.head()

   no  name sirname  course  duration  experience
0    1    a      qw    java         3           2
1    2    b      er  python         3           4

In [4]:
pima.dtypes

no             int64
name          object
sirname       object
course        object
duration       int64
experience     int64
dtype: object

In [5]:
pima.shape

(2, 6)

In [6]:
pima.shape[0]

2

In [7]:
#USER INPUT BOOLEAN COMPARISON OPERATOR

x=input("Enter your Name: ")

Enter your Name:  Pankaj

In [8]:
print(x)

Pankaj

In [9]:
8>10

False

In [10]:
var=False

In [11]:
type(var)

bool

In [12]:
print(f'{x} is your student of ekeeda')

Pankaj is your student of ekeeda

In [13]:
a=7
b=6
if a>b:
    print("a>b")

if a<b:
    print("a<b")

if a>=b:
    print("a>=b")

if a<=b:
    print("a<=b")

if a!=b:
    print("a!=b")

a>b
a>=b
a!=b

In [14]:
a=int(input("Enter Population:"))
if a>20000000:
    print("Over Populated.....")

elif a>=5000000 and a<=20000000:
    print("DEcent Population")
else:
    print("Under Populated..")

Enter Population: 20000090808

Over Populated.....

In [15]:
a=2
a=str(a)
print(type(a))

<class 'str'>

In [16]:
a=2
a=int(a)
print(type(a))

<class 'int'>

In [19]:
import random
number=random.randint(1,10)
attempts=0
guess=0
while guess != number:
    guess=eval(input("Guess a number"))
    attempts +=1
    if guess ==number:
        print("Correct ! you used ",attempts," attempts")
        break
    elif  guess < number:
        print("Go higher..")
    else:
        print("Go Lower..")

Guess a number 3

Go higher..

Guess a number 5

Go higher..

Guess a number 7

Go higher..

Guess a number 8

Go higher..

Guess a number 8

Go higher..

Guess a number 9

Go higher..

Guess a number 10

Correct ! you used  7  attempts

In [21]:
marks=float(input("Enter the student marks:"))
if marks>25:
    print("Invalid")
elif marks>=20 and marks<=25:
    print("Grade A")
elif marks>=10 and marks<=20:
    print("Grade B")
else:
    print("Failed")

Enter the student marks: 24

Grade A

In [22]:
#FOR ,while LOOP

a=1
while a<10:
    print(a)
    a +=1

1
2
3
4
5
6
7
8
9

In [23]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [24]:
tax=12.5/100
price=100.50
price*tax

12.5625

In [25]:
for i in range (1,8):
    print(i)

1
2
3
4
5
6
7

In [1]:
a=0
while a<10:
    if a==3:
        continue
    print(a)
    a=a+1

0
1
2

KeyboardInterrupt:

In [ ]:
for i in range(1,10):
    if i==3:
        continue
    else:
        print(i)

In [3]:
#FACTORIAL NUMBER

a=int(input("Enter Number :"))
fac=1
for a in range(1,a+1):
    fac *=a
    print("Factorial of ",a,"is",fac)

Enter Number : 5

Factorial of  1 is 1
Factorial of  2 is 2
Factorial of  3 is 6
Factorial of  4 is 24
Factorial of  5 is 120

In [2]:
#FUCTORIAL USING FUNCTION
def factorial(n):
    res=1
    for i in range(1,n+1):
        res=res*i
    return(res)
n=int(input("Enter Your Number:"))
x=factorial(n)
print(x)

Enter Your Number: 4

24

In [4]:
def fun():
    return('10')
a=fun()
print(a)

10

In [5]:
def func():
    print(10)
a=func()

10