In [2]:
#Fibonacci Series

fl=[0,1]
n=int(input("Enter Number :"))
for i in range(n-2):
    fl.append(fl[-1]+fl[-2])
print(fl)
print(type(fl))

Enter Number : 7

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

In [3]:
s="Prateek"
print(s[1])

r

In [4]:
print(s[1:])

rateek

In [5]:
print(s[:3])

Pra

In [6]:
s="Naman"
print(s.lower())

naman

In [7]:
print(s.upper())

NAMAN

In [13]:
#PALINDROME

s="nan"
if(s==s[: :-1]):
    print("This is Palindrome") 
else:
    print("This is not palindrome")

This is Palindrome

In [10]:
s=input("Enter word: ")

if(s==s[: :-1]):
    print("This is Palindrome") 
else:
    print("This is not palindrome")

Enter word:  maa

This is not palindrome

In [14]:
s="naman"
print(s[1:3:])

am

In [15]:
s[: :2]

'nmn'

In [16]:
s="NaMaN"
if s.lower().strip()==s[: : -1].lower().strip():
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [17]:
s2={1,2,3,3,4,5,6}
print(s2)

{1, 2, 3, 4, 5, 6}

In [18]:
set={7,6,5,4,3,2,1}
print(set)

{1, 2, 3, 4, 5, 6, 7}

In [23]:
#Remove duplicate value from list

l1=[1,2,3,2,3,4,5,6,6,7,2]
s2=(set(l1))
print(s2)

TypeError: 'set' object is not callable

In [24]:
print(list(set(l1)))

TypeError: 'set' object is not callable

In [25]:
# initializing list
test_list = [1, 5, 3, 6, 3, 5, 6, 1]
print ("The original list is : "
        + str(test_list))

# using set() to remove duplicated from list
test_list = list(set(test_list))

# printing list after removal
# distorted ordering
print ("The list after removing duplicates : "
        + str(test_list))

The original list is : [1, 5, 3, 6, 3, 5, 6, 1]

TypeError: 'set' object is not callable

In [26]:
my_list = [1, 2, 3, 3, 4, 5, 5]
my_set = set(my_list)
print(my_set)

TypeError: 'set' object is not callable

In [27]:
my_list = [1, 2, 3, 3, 4, 5, 5]
my_set = set()

for element in my_list:
    my_set.add(element)

print(my_set)

TypeError: 'set' object is not callable

In [28]:
my_list = [1, 2, 3, 3, 4, 5, 5]
my_set = {x for x in my_list}

print(my_set)

{1, 2, 3, 4, 5}

In [29]:
#coverting str to int without mentioning int directly

s="12345"
l1=list(s)
print(l1[0])
print(len(l1))
print(10**len(l1)-1)
sum2=0
l2=len(l1)-1

for k in range(0,len(l1)):
    sum2=sum2+int(l1[k])*10**l2
    l2=l2-1
    print(f'sum2 -value after {k} is {sum2}')
print(sum2)

1
5
99999
sum2 -value after 0 is 10000
sum2 -value after 1 is 12000
sum2 -value after 2 is 12300
sum2 -value after 3 is 12340
sum2 -value after 4 is 12345
12345

In [31]:
#DICtionary Methods

car={"brand":"Ford",
    "Model":"Mustang",
    "year":1964}
x=car.keys()
print(x)

dict_keys(['brand', 'Model', 'year'])

In [33]:
x=car.get("Model")
print(x)

Mustang

In [34]:
x=car.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])