In [1]:
import pandas as pd 
import numpy as np
import os
import random as rd
print(os.getcwd)

<built-in function getcwd>

In [2]:
n=int(input("Enter The value for n:"))
a=[i for i in range (1,2*n+1) if i%2==0]
a

Enter The value for n: 5

[2, 4, 6, 8, 10]

In [3]:
a=[]
for i in range(0,10):
    if(i%2==0):
        a.append(i)
a

[0, 2, 4, 6, 8]

In [4]:
a=[i for i in range(1,10) if i%2==0]
a

[2, 4, 6, 8]

In [5]:
a=[i for i in range(1,10) if (i%2==0 and i%3==0) ]
a

[6]

In [6]:
a=[i for i in range (1,10) if (i%2==0 or i%3==0)]
a

[2, 3, 4, 6, 8, 9]

In [7]:
l1=[1,2,5,6,7,8,9,10,12,14]
nl=[]
for i in range(0,len(l1)):
    if l1[i]%2==0:
        nl.append(l1[i])
nl

[2, 6, 8, 10, 12, 14]

In [8]:
b=[]
for i in range(0,len(l1)):
    if l1[i]%2==0:
        b.append(l1[i])
b

[2, 6, 8, 10, 12, 14]

In [9]:
c=lambda a,b:a+b
print(c(4,5))

9

In [10]:
def add(x,y):
    print(x+y)
add(4,5)

9

In [11]:
l1=[1,2,5,6,7,8,9,10,12]
print(list(filter(lambda x:(x%2==0),l1)))

[2, 6, 8, 10, 12]

In [12]:
ml=[1,5,4,6,8,11,3,12]
x1=list(filter(lambda x:(x%2==0),ml))
print(list(filter(lambda x:(x%2==0),ml)))
print(x1)

[4, 6, 8, 12]
[4, 6, 8, 12]

In [16]:
b=[]
for i in range(0,len(l1)):
    b.append(l1[i]*2)

b

[2, 4, 10, 12, 14, 16, 18, 20, 24]

In [17]:
ml

[1, 5, 4, 6, 8, 11, 3, 12]

In [18]:
#LAMBDA FUNCTION USING MAP()

ml
print(list(map(lambda x:(x*2),ml)))

[2, 10, 8, 12, 16, 22, 6, 24]

In [21]:
#REMOVE duplicate from the list

l2=[1,2,2,3,4,5,6,5]
print(list(set(l2)))
print(set(l2))
l3=[2,3,4]
print(list(set(l2)-set(l3)))

[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}
[1, 5, 6]

In [22]:
s1={1,2,3,4,5}
s2={2,4}
print(s1-s2)

{1, 3, 5}

In [23]:
#LAMBDA USING MAP FUNCTIOM

lt=['Germany','India','Austrailia']
d=pd.DataFrame(lt,columns=['Country'])
d

      Country
0     Germany
1       India
2  Austrailia

In [27]:
ca={'Germany':'Berlin',
   'India':'Delhi',
   'Austrailia':'Canberra'}

In [28]:
d['ca']=d['ca'].map(ca)
d

KeyError: 'ca'

In [34]:
name=['Virat','Rohit','Pandya','Pankaj','Bharat','Shirish','Swati','Parinidhi']
score=[35,34,31,24,27,26,34,67]
Country=['India','India','India','India','Austrailia','Austrailia','USA','USA']
dict1={'Player':name,
   'Score':score,
      'country':Country}
df1=pd.DataFrame(dict1)
df1

      Player  Score     country
0      Virat     35       India
1      Rohit     34       India
2     Pandya     31       India
3     Pankaj     24       India
4     Bharat     27  Austrailia
5    Shirish     26  Austrailia
6      Swati     34         USA
7  Parinidhi     67         USA

In [36]:
#calculating  the mean score fromthe table by country

df1.groupby('country').Score.mean()

country
Austrailia    26.5
India         31.0
USA           50.5
Name: Score, dtype: float64

In [39]:

df1.groupby('country').Score.min()

country
Austrailia    26
India         24
USA           34
Name: Score, dtype: int64